<% provide(:title, trip_broadway_bridge_path) %>
<%= render 'trip/title' %>
<div class="text-center">
  <%= link_to image_tag("portland/broadway_bridge/broadway_bridge.JPG", alt: "Broadway Bridge", class: "img-thumbnail rounded", width: "50%") %>
</div>