<%= render 'trip/title' %>
<br>
<br>
<br>
<div class="text-center">
  <%= link_to image_tag("portland/old_town/deadstock_coffee/deadstock_coffee.JPG", class: "img-thumbnail rounded rotate90", width: "50%") %>
</div>
<br>
<br>
<br>
<h4 class="text-center">
  <%= link_to "Back",root_url %>
</h4>