<%# provide(:title, trip_korea_town_path) %>
</br>
<%= render 'trip/title' %>
<div class="text-center">
  <%= link_to image_tag("los_angeles/korea_town/street.JPG", alt: "Street", class: "img-thumbnail rounded", width: "50%") %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <%= link_to image_tag("los_angeles/korea_town/coffee_shop.JPG", alt: "Coffee Shop", class: "img-thumbnail rounded rotate90", width: "50%") %>
</div>
</br>
<br>
<br>
<br>
<br>
<div class="text-center">
  <%= link_to "Back",root_url %>
</div>