<table class="table .borderless">
  <thead>
  <tr>
    <th scope="col">
      <div id="toc_container">
        <ul class="toc_list">
          <li>Portland
            <ul>
              <li><%= link_to 'Broadway Bridge', controller: 'trip', :action => :broadway_bridge %></li>
              <li><%= link_to 'Broadway Bridge', controller: 'trip', :action => :broadway_bridge %></li>
            </ul>
          </li>
        </ul>
        <ul class="toc_list">
          <li>Los Angeles
            <ul>
              <li><%= link_to 'Korea Town', controller: 'trip', :action => :korea_town %></li>
            </ul>
          </li>
        </ul>
      </div>
    </th>
  </tr>
  </thead>
</table>

<!--<table class='table borderless'>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td class=toc_title align=center>Trip</td>-->
<!--    <td>&nbsp;</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Portland</td>-->
<!--    <td>&nbsp;</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Broadway Bridge</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Los Angeles</td>-->
<!--    <td>&nbsp;</td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>&nbsp;</td>-->
<!--    <td>Korea Town</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->